<div class="row">
  <div class="col">
    <div class="card" style="flex-direction: row;">
      <div class="profile-img" style="width: 25%;">
        <img src="{{user.image}}" alt="Profile-image" style="object-fit: cover; width: 100%; height: 100%;">
      </div>
      <div class="card-body" style="width: 75%;">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">已評論餐廳數: {{user.restaurant_count}}</p>
        <p class="card-text">總評論數: {{user.comment_count}}</p>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
</div>

{{#if restaurants}}
<div class="row mt-3">
  {{#each restaurants}}
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex" style="flex-direction: column;">
          <img src="{{this.image}}" alt="restaurant-img">
          <a href="/restaurants/{{this.id}}">{{this.name}}</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}